body {
    background: #eeeeee;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color: red;
}


/* Layout
------------------------------------------*/

header,
.container,
footer {
    margin: 0 auto;
    width: 88%;
    max-width: 1080px;
}

.wrapper {
    background: #ffffff;
    padding: 1em 0;
}


/* Navigation
------------------------------------------*/

nav ul {
    padding: 0;
    list-style: none;
    border-top: 1px solid #ffffff;
    margin-bottom: 0;
}

nav ul li a {
    background: #cccccc;
    padding: .5em 1em;
    display: block;
    text-align: center;
    transition: 1s;
    border-bottom: 1px solid #ffffff;
}

nav ul li a:hover {
    background: pink;
}

.hamburger {
    float: right;
    background: url(images/hamburger.svg);
    width: 32px;
    height: 32px;
    margin-right: 6%;
}

.hamburger span {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.hide-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media screen and (min-width:48em) {
    .hamburger {
        display: none;
    }
    .hide-text {
        clip: unset;
        position: static !important;
        height: auto;
        width: 88%;
        overflow: inherit;
    }
    nav ul {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        border-top: 0;
    }
    nav ul li {
        margin-right: .5em;
    }
    nav ul li a {
        border-bottom: 0;
    }
}
