body {
  background: #eee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

.sticky {
  margin: 0 auto;
  position: fixed;
  height: 100vh;
  overflow: hidden;
  background: #ffffff;
  right: 0;
  top: 0;
  border-left: 1px solid #cccccc;
}

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 960px;
}

.wrapper {
  background: #ffffff;
  padding: 1em 0;
}


/* Navigation
------------------------------------------*/

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li a {
  padding: .5em 1em;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  display: block;
  transition: all 1s ease-in-out;
}

nav ul li a:hover {
  background: pink;
}

.hamburger {
  position:fixed;
  top:10px;
  right:.5em;
  background: url(images/hamburger.svg);
  width: 32px;
  height: 32px;
}

.hamburger span {
  position: absolute;
  left: -999em;
}

.close {
  position:absolute;
  top:6px;
  right:.5em;
  background-image: url(images/clear.svg);
  width: 32px;
  height: 32px;
}

.close span {
  position: absolute;
  left: -999em;
}
