body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

.js .sticky {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  background: #ffffff;
  border-left: 1px solid #cccccc;
  transition: 1s;
  display: flex;
  align-items: center;
  box-shadow: -2px 0 5px rgba(222, 222, 222, 0.8);
}

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 960px;
}

.wrapper {
  background: #ffffff;
  padding: 1em 0;
}


/* Navigation
------------------------------------------*/

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #cccccc;
}

nav a {
  padding: .5em 1em;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  display: block;
  transition: 1s;
}

nav a:hover {
  background: pink;
}

.menu {
  position: fixed;
  top: 10px;
  right: .5em;
  background: url(img/burger.svg);
  width: 32px;
  height: 32px;
}

.close {
  position: absolute;
  top: 6px;
  right: .5em;
  background-image: url(img/clear.svg);
  width: 32px;
  height: 32px;
}

.menu span,
.close span {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
