/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color: crimson;
	text-decoration:none;
}

a:hover {
	color: red;
}

/* Layout
------------------------------------------*/

.sticky {
	margin: 0 auto;
	width:100%;
	position:fixed;
	background:#eeeeee;
	background: rgba(238,238,238,0.7);
	top:0;
}

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	background: #ffffff;
	padding:1em 0;
}

section {
	padding-top:4em;
}

/* Navigation
------------------------------------------*/

nav ul {
	padding:0;
	list-style:none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav ul li {
	margin-right: .5em;	
}

nav ul li a {
	padding: .5em 1em;
	background:#cccccc;
	border-radius: 15px;
	transition: all 1s ease-in-out;
}

nav ul li a:hover {
	background: pink;
}

/* Fade in animation
------------------------------------------*/

@keyframes fadeIn {
	to {
		opacity:1;
	}
}

.fade-in {
	animation: fadeIn 1s ease-in 1 forwards;
	opacity:0;
}

.is-paused {
	animation-play-state: paused;
}