body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 960px;
}

.wrapper {
  background: #ffffff;
  padding: 1em 0;
}


/* Fade in animation
------------------------------------------*/

@keyframes fade {
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 1s ease-in 1 forwards;
  opacity: 0;
}

.is-paused {
  animation-play-state: paused;
}
